body {
  box-sizing: border-box;
  background-color: rgb(182, 168, 154);
}

header {
  margin: 1rem 4rem 1rem 4rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

header h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  /*color: rgb(157, 145, 129);*/
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

#list-user-container {
  background-color: none;
}

.list-user {
  width: fit-content;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;
  padding-left: 2rem;
}
.user-item {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 3px 3px 3px black;
  padding: 1rem;
  width: 20%;
}

.btn-user {
  background-color: rgb(205, 182, 164);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border-color: rgb(102, 80, 80);
  cursor: pointer;
  margin: 1rem auto;
  font-family: "Poppins", sans-serif;
  color: rgb(102, 80, 80);
  font-weight: 100;
  box-shadow: 2px 2px 2px black;
  display: block;
}

.btn-user:hover {
  transform: scale(1.1);
}

.user-item:hover {
  transform: scale(1.1);
  background-color: rgb(207, 168, 168);
}
